*{
	margin: 0px;
	padding: 0px;
}
div.card{
	box-shadow: 2px 3px 10px #999;
}
div.card div.card-header div.row  button.form-control{
	background-color: #ea0952;
	border-radius: 5px;
}
/*Input*/
form#formulario_perfil div.form-group input.form-control{
	 border-radius: 5px;
     border: 1px solid #39c;
     background-color: #fff;
}

form#formulario_perfil div.form-group p{
	border-radius: 3px;
}

/*Ventana modal*/
div#Editar div.modal-body div.form-group input.form-control{
	border-radius: 5px;
	border:1px solid #39c;
}

div#Editar div.modal-body div.row div.col-lg-4,div.col-sm-12 input.form-control,select{
	border-radius: 5px;
	border:1px solid #39c;

}

div#Editar div.modal-body div.row div.col-lg-4 select{
	border-radius: 5px;
	border:1px solid #39c;
}

div#Editar div.modal-footer button.mGuardar{
	border-radius: 3px;
}
div#Editar div.modal-footer div.mCerrar{
	background-color: #fff;
	border-radius: 3px;
	border:1px solid black;
}